<div class="container">
    <h3 class="my-3">Log in to your account</h3>
    <form class="thin-form" style="max-width: 600px;" [formGroup]="logInForm">
      <div class="form-group">
        <label for="email">Author's name</label>
        <input type="email" class="form-control" id="email" name="email" required formControlName='email'>
      </div>
      <div class="form-group">
        <label for="password">Author's surname</label>
        <input type="password" class="form-control" id="password" name="password" required formControlName='password'>
      </div>
      <button  type="submit" class="btn btn-primary"
      [disabled]="!logInForm.valid"
        (click)="onSubmit()">Log in</button>
        <div *ngIf="errorMessage" class="alert alert-danger mt-4" role="alert">
        {{this.errorMessage}}
          </div>
    </form>


  </div>
  